<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sing Up</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    
</head>
<body>
    <div class="login_box">
        <img class="lg" src="{{url_for('static',filename='img/p1.jpg')}}" alt="logo">
        <h1>Register</h1>
        <form action="/regis" method="POST">
            <label for="Username">Username</label>
            <input type="text" name="nameuser" placeholder="Enter Username">

            <label for="Password">Password</label>
            <input type="Password" name="pass" placeholder="Enter Password">

            <input type="submit" value="Create Account" >
            <a href="/">Sing In</a>
        </form>
    </div>
</body>
</html> 